In [5]:
x=5
y='Mrinal'
print(x)
print(y)

5
Mrinal

In [9]:
x=4
print(type(x))

x='Mrinal Das'
print(type(x))

<class 'int'>
<class 'str'>

In [14]:
x = int(3.5)
print(type(x))
print(x)

<class 'int'>
3

In [16]:
x="India"
y='India'
print(x, y)

India India

In [18]:
a='India'
A='Nepal'

print(a, A)

India Nepal

In [31]:
age = 13
studentname= 'Mrinal'

ag2e2 = 20

myvar = 10
my_var = 10
_my_var = 10
myvar_ = 10
myvar2 = 10
my2var2 = 10

#2myvar = 20
#my-var = 20
#my var = 20

In [33]:

# camel case
myVarName = 20

# pascal case
MyVarName = 100

#snake case
my_variable_name = 'siliguri'

In [38]:
x, y, z, a = 10, 20, 30, 40

a=b=c=d='Siliguri'

print(a, b, c, d)

Siliguri Siliguri Siliguri Siliguri

In [42]:
print(a + b + c + d)

SiliguriSiliguriSiliguriSiliguri

In [45]:
x = 5

def show():
    print("value of X =", x)
def display():
    print('X = ', x)

show()
display()

value of X = 5
X =  5

In [48]:
x = 100

def show():
    global x 
    x = 'Mrinal'
    print('value of x =', x)
    
print(x)
show()
print(x)

100
value of x = Mrinal
Mrinal